<%- include('partials/header'); -%>

<h1><a href="/">Home</a></h1>


<p><%=p1 %></p>

<% posts.forEach(function(post) { %>
  <h2><%=post.title%></h2>
  <p><%=post.content.slice(0, 100) + ' ...'%> <a href=<%=post.link%>>Read More</a></p>
<% }); %>

<%- include('partials/footer'); -%>
